html {
  width: auto; height: 100%;
}

body {
  width: auto; height: 100%;
  margin: 0; padding: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  width: auto; height: 100%;
}






#sidebar {
  z-index: 1000;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  flex-basis: 390px;
  width: 390px; height: 100%;
  border-right: 1px solid #C4C4C4;
  background-color: #FFFFFF;
  transition: 0.4s;
}




#toolbar {
  box-sizing: border-box;
  width: 100%; height: auto;
  padding: 15px 15px 5px 15px;
  overflow: auto;
}

.short-inputs-container {
  display: flex;
}
.short-input {
  margin-right: 10px;
  cursor: pointer;
} .short-input:last-child {
  margin-right: 0;
}
.coordinates-short-input {
  cursor: auto;
}

.span-button-container {
  margin-bottom: 10px;
}
.access-key-span-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.span-button {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

#toolbar select,
#toolbar input,
#new-category-icon-container {
  box-sizing: border-box;
  width: 100%; height: 40px;
  border: none;
  margin-bottom: 10px; padding: 0 10px;
  background-color: #C4C4C4;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s;
} #toolbar select:hover,
  #toolbar input:hover,
  #new-category-icon-container:hover {
  background-color: #DADADA;
} #toolbar select:focus,
  #toolbar input:focus {
  outline: none;
}

#new-category-icon-name {
  display: flex;
  align-items: center;
  width: auto; height: 100%;
}

#access-key-description {
  font-size: 12px;
  line-height: 16px;
  color: #AAAAAA;
}

#current-user {
  font-size: 21px;
  color: #888888;
}




#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: auto; min-height: 44px;
  border-top: 1px solid #C4C4C4;
  padding: 0 15px;
}

#hide-sidebar-button {
  display: none;
  width: 18px; height: 18px;
  cursor: pointer;
}

#toolbar-tab-button {
  margin-bottom: 0;
  font-size: 21px;
}





#show-sidebar-button {
  z-index: 950;
  position: absolute;
  left: -22px; top: 10px;
  display: none;
  box-sizing: border-box;
  width: 22px; height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
}

#map {
  position: absolute; right: 0;
  width: calc(100% - 390px); height: 100%;
  transition: 0.4s;
}








@media (max-width: 1199px) {
  #navbar {
    justify-content: space-between;
  }
  #hide-sidebar-button {
    display: block;
  }
  #show-sidebar-button {
    display: block;
  }
}


@media (max-width: 480px) {
  #sidebar {
    flex-basis: auto;
    width: 100%; height: 100%;
    min-width: auto;
    border-right: none;
  }

  #map {
    width: 0; height: 100%;
  }
}